In [1]:
import pandas as pd
import numpy as np

In [4]:
# CHANGED LOCATION OF FILES, NEED TO ADD FOLDER EXTENSION (baseball_databases/)
pitching_stats = pd.read_csv("baseball_datasets/Pitching.csv")

In [5]:
pitching_stats = pitching_stats.loc[pitching_stats['yearID'] >= 2000]

In [6]:
pitching_stats.drop(['SF', 'SH', 'GIDP','WP', 'HBP','BFP', 'BAOpp', 'GS', 'CG','SHO', 
                    'IBB', 'BK','GF'], axis = 1)

,playerID,yearID,stint,teamID,lgID,W,L,G,SV,IPouts,H,ER,HR,BB,SO,ERA,R
32904,abbotpa01,2000,1,SEA,AL,9,7,35,0,537,164,84,23,80,100,4.22,89
32905,aceveju01,2000,1,MIL,NL,3,7,62,0,248,77,35,11,31,51,3.81,38
32906,adamste01,2000,1,LAN,NL,6,9,66,2,253,80,33,6,39,56,3.52,42
32907,aguilri01,2000,1,CHN,NL,1,2,54,29,143,47,26,11,18,38,4.91,28
32908,aldresc01,2000,1,PHI,NL,1,3,23,0,61,23,13,3,10,21,5.75,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46694,zamorda01,2018,1,NYN,NL,1,0,16,0,27,6,3,1,3,16,3.00,3
46695,zastrro01,2018,1,CHN,NL,1,0,6,0,17,6,3,0,4,3,4.76,3
46696,zieglbr01,2018,1,MIA,NL,1,5,53,10,156,49,23,7,17,37,3.98,25
46697,zieglbr01,2018,2,ARI,NL,1,1,29,0,65,22,9,1,8,13,3.74,9
46698,zimmejo02,2018,1,DET,AL,7,8,25,0,394,140,66,28,26,111,4.52,76

In [8]:
batting_stats = pd.read_csv('baseball_datasets/Batting.csv')

In [ ]:
batting_stats = batting_stats.drop(['IBB','HBP','SH','SF', 'GIDP', 'SB', 'CS'], axis=1)

In [ ]:
batting_stats = batting_stats.loc[batting_stats['yearID'] >= 2000]

In [ ]:
BA = (batting_stats['H']) / batting_stats['AB']

In [ ]:
batting_stats['BA'] = BA

In [ ]:
batting_stats = batting_stats.loc[batting_stats['G'] >= 81]

In [ ]:
batting_stats['BA'].isnull().values.any()

In [ ]:
batting_stats = batting_stats.dropna()

In [ ]:
batting_stats['BA'].mean()

In [ ]:
pitching_stats.describe()

In [ ]:
batting_stats.describe()

In [ ]:
players = pd.read_csv('baseball_datasets/People.csv')

In [ ]:
type(players)

In [ ]:
player_name = players['debut']

In [ ]:
date_time = players.to_datetime(player_name)

In [ ]:
player_name.head()[0]

In [ ]:
debut = pd.to_datetime(player_name)

In [ ]:
def get_year(x):
    return x.year

In [ ]:
players['Debut'] = debut

In [ ]:
players = players.drop(['debut'], axis=1)

In [ ]:
players['Debut Year'] = players['Debut'].apply(get_year)

In [ ]:
relevant_players = players[['playerID', 'Debut Year']]

In [ ]:
players

In [ ]:
test = players[['playerID','nameGiven']]

In [ ]:
pd.merge(batting_stats,test)